.form-row {
	display: table-row;
}

#contact-us-heading {
	font-size: 145px;
}

.contact-info {
  float: left;
  padding-right: 10vw;
}

.map-container {
  display: inline block;
}

.form-field {
	width:100%;
}

.sub-heading {
	padding-top: 25px;
	font-size: 35px;
}

.row {
	padding-bottom: 15px;
}

.contact-information-headings {
	font-weight: bold;
}

.form-button {
	width: 100%;
	font-size: 20px;
}

.contact-information {
	color: #505050;
	padding-bottom: 5px;
}

.contact-us-checkbox {
	margin-right: 10px;
}

.cinema-location {
	color: #484848;
	font-weight: bold;
	font-size: 18px;
}