div {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  display: table-cell;
}

.contact-info {
  float: left;
  padding-right: 10vw;
}

.map-container {
  display: inline-block;
}
