.ticket-type {
	font-weight: bold;
}

.ticket-price {
	font-size: 20px;
	padding-top: 10px;
}

.ticket-info {
	color: #686868;
}

#price-list {
	font-size: 35px;
	padding-top: 25px;
}

#general-ticket-info {
	padding-top: 30px;
	padding-bottom: 20px;
}

#parallax {
	/* The image used */
    background-image: url("../Media/Cinema Seating.jpg");

    /* Full height */
    height: 75%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-overlay {
  height: 100%;
  width: 40%;
  margin: auto;
  background: rgba(255,255,255, 0.6)
  position: relative;
}

#prices-heading {
	font-size: 150px;
	text-align: center;
	color: white;
	margin: 0;
	opacity: .85;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-family: 'Lato', sans-serif;
}

body {
	height: 75%;
	font-family: 'Lato', sans-serif;
}

html {
	height: 75%;
}